Bootcamp-Projects-DataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Bootcamp-Projects-DataFactory"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"DSforPatientGoldDataAzureSqlDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DSforPatientGoldDataAzureSqlDB'"
		},
		"LSforADLS01_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LSforADLS01'"
		},
		"LSforAzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LSforAzureSqlDatabase1'"
		},
		"LSforSalesDataAzureSqlDatabase101_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LSforSalesDataAzureSqlDatabase101'"
		},
		"MySql1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'MySql1'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1022-165503-ewpjnkhz"
		},
		"DSforPatientGoldDataAzureSqlDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ncpl-bootcamp-server102.database.windows.net"
		},
		"DSforPatientGoldDataAzureSqlDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Bootcamp02SqlDB"
		},
		"DSforPatientGoldDataAzureSqlDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Ramesh"
		},
		"LSforADLS01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageforbootcamp.dfs.core.windows.net/"
		},
		"LSforAPISalesData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://530b370d-691a-4c97-b0fa-c16fec8a4ff2.mock.pstmn.io/Sales_Data01"
		},
		"LSforAzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ncpl-bootcamp-server102.database.windows.net"
		},
		"LSforAzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "BootCamp_ProjectDB01"
		},
		"LSforAzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Ramesh"
		},
		"LSforSalesDataAzureSqlDatabase101_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "ncpl-bootcamp-server102.database.windows.net"
		},
		"LSforSalesDataAzureSqlDatabase101_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "BootCamp_ProjectDB01"
		},
		"LSforSalesDataAzureSqlDatabase101_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Ramesh"
		},
		"MySql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Ramesh_Allanki"
		},
		"MySql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "bootcamp_project"
		},
		"MySql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "root"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Customer_CSV-Pipeline02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Customer_CSV_Data_to_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerID",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSforCusotmerCSVData02",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSforSinkCustomerCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-13T18:53:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSforCusotmerCSVData02')]",
				"[concat(variables('factoryId'), '/datasets/DSforSinkCustomerCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Products_On_Prem_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_OnPrem_Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT * FROM bootcamp_project.products_sample;"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "Double",
											"physicalType": "Double"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "Text"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "Text"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Double",
											"physicalType": "Double"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "StockQuantity",
											"type": "String",
											"physicalType": "Text"
										},
										"sink": {
											"name": "StockQuantity",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSforMySqlProductsData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSforOnPremProductsData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-13T18:53:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSforMySqlProductsData')]",
				"[concat(variables('factoryId'), '/datasets/DSforOnPremProductsData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesData_API_Pipeline01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SalesData-API-Web",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://530b370d-691a-4c97-b0fa-c16fec8a4ff2.mock.pstmn.io/Sales_Data01",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "Copy_API_SalesData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SalesData-API-Web",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['SaleID']"
										},
										"sink": {
											"name": "SaleID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['CustomerID']"
										},
										"sink": {
											"name": "CustomerID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['ProductID']"
										},
										"sink": {
											"name": "ProductID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['SaleDate']"
										},
										"sink": {
											"name": "SaleDate",
											"type": "Date"
										}
									},
									{
										"source": {
											"path": "$['Quantity']"
										},
										"sink": {
											"name": "Quantity",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['TotalAmount']"
										},
										"sink": {
											"name": "TotalAmount",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DSforAPISourceSalesData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSforSinkAPISalesData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-13T18:53:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/DSforAPISourceSalesData')]",
				"[concat(variables('factoryId'), '/datasets/DSforSinkAPISalesData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Notebook1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Patient_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Patient_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Patient_Name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Patient_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Age",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Age_Category",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Age_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Blood_Type",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Blood_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Admission_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Admission_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Medical_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Medical_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Insurance_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Insurance_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Medical_Condition",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Medical_Condition",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Doctor",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Doctor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Hospital",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Hospital",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Medication",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Medication",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Test_Results",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Test_Results",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Date_of_Admission",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Date_of_Admission",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Discharge_Date",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Discharge_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Admission_Type",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Admission_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Room_Number",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Room_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Length_Of_Stay",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Length_Of_Stay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Insurance_Status",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Insurance_Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Insurance_Provider",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Insurance_Provider",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Amount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Billing_Amount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billing_Category",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Billing_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isEligibleForClaim",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isEligibleForClaim",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Risk_Score",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Risk_Score",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Risk_Category",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Risk_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Insurance_Claim_Probability",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Insurance_Claim_Probability",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Effective_Date",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Effective_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "End_Date",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "End_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Is_Current",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										},
										"sink": {
											"name": "Is_Current",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "New_Medical_Condition",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "New_Medical_Condition",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "New_Doctor",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "New_Doctor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "New_Billing_Amount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "New_Billing_Amount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSforPatients_Gold_Data_Parquet1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSforPatientsGoldAzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/allankiramesh.cv@gmail.com/BC02-Silver-Gold"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSforPatients_Gold_Data_Parquet1')]",
				"[concat(variables('factoryId'), '/datasets/DSforPatientsGoldAzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforAPISourceSalesData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforAPISalesData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforAPISalesData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforCusotmerCSVData02')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforADLS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers_sample.csv",
						"folderPath": "Customer-CSVData/Input-CustomerCSVData",
						"fileSystem": "bootcamp01-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforADLS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforMySqlProductsData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforOnPremProductsData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforADLS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Products_RawData.csv",
						"folderPath": "Products-OnPremData",
						"fileSystem": "bootcamp01-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforADLS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforPatientsGoldAzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DSforPatientGoldDataAzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Patients_Final_Gold_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DSforPatientGoldDataAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforPatients_Gold_Data_Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforADLS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-d84eea2f-6237-49e8-872a-9511278cf2a0-c000.snappy.parquet",
						"folderPath": "Gold-Layer/Patients_Final-Gold_Data",
						"fileSystem": "bootcamp02-container"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Patient_ID",
						"type": "UTF8"
					},
					{
						"name": "Patient_Name",
						"type": "UTF8"
					},
					{
						"name": "Age",
						"type": "UTF8"
					},
					{
						"name": "Gender",
						"type": "UTF8"
					},
					{
						"name": "Age_Category",
						"type": "UTF8"
					},
					{
						"name": "Blood_Type",
						"type": "UTF8"
					},
					{
						"name": "Reference_Number",
						"type": "UTF8"
					},
					{
						"name": "Admission_ID",
						"type": "UTF8"
					},
					{
						"name": "Medical_ID",
						"type": "UTF8"
					},
					{
						"name": "Insurance_ID",
						"type": "UTF8"
					},
					{
						"name": "Medical_Condition",
						"type": "UTF8"
					},
					{
						"name": "Doctor",
						"type": "UTF8"
					},
					{
						"name": "Hospital",
						"type": "UTF8"
					},
					{
						"name": "Medication",
						"type": "UTF8"
					},
					{
						"name": "Test_Results",
						"type": "UTF8"
					},
					{
						"name": "Date_of_Admission",
						"type": "UTF8"
					},
					{
						"name": "Discharge_Date",
						"type": "UTF8"
					},
					{
						"name": "Admission_Type",
						"type": "UTF8"
					},
					{
						"name": "Room_Number",
						"type": "UTF8"
					},
					{
						"name": "Length_Of_Stay",
						"type": "UTF8"
					},
					{
						"name": "Insurance_Status",
						"type": "UTF8"
					},
					{
						"name": "Insurance_Provider",
						"type": "UTF8"
					},
					{
						"name": "Billing_Amount",
						"type": "UTF8"
					},
					{
						"name": "Billing_Category",
						"type": "UTF8"
					},
					{
						"name": "isEligibleForClaim",
						"type": "UTF8"
					},
					{
						"name": "Risk_Score",
						"type": "UTF8"
					},
					{
						"name": "Risk_Category",
						"type": "UTF8"
					},
					{
						"name": "Insurance_Claim_Probability",
						"type": "UTF8"
					},
					{
						"name": "Effective_Date",
						"type": "UTF8"
					},
					{
						"name": "End_Date",
						"type": "UTF8"
					},
					{
						"name": "Is_Current",
						"type": "BOOLEAN"
					},
					{
						"name": "New_Medical_Condition",
						"type": "UTF8"
					},
					{
						"name": "New_Doctor",
						"type": "UTF8"
					},
					{
						"name": "New_Billing_Amount",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforADLS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforSinkAPISalesData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforADLS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Raw_API_SalesData.csv",
						"folderPath": "Raw-API-SalesData",
						"fileSystem": "bootcamp01-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforADLS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforSinkCustomerCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSforADLS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Customer_RawData.csv",
						"folderPath": "Customer-CSVData/Output-CustomerCSVData",
						"fileSystem": "bootcamp01-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSforADLS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3141012479002376.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSforPatientGoldDataAzureSqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DSforPatientGoldDataAzureSqlDB_properties_typeProperties_server')]",
					"database": "[parameters('DSforPatientGoldDataAzureSqlDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DSforPatientGoldDataAzureSqlDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DSforPatientGoldDataAzureSqlDB_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSforADLS01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LSforADLS01_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LSforADLS01_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSforAPISalesData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LSforAPISalesData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSforAzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LSforAzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('LSforAzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LSforAzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LSforAzureSqlDatabase1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSforSalesDataAzureSqlDatabase101')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LSforSalesDataAzureSqlDatabase101_properties_typeProperties_server')]",
					"database": "[parameters('LSforSalesDataAzureSqlDatabase101_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LSforSalesDataAzureSqlDatabase101_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LSforSalesDataAzureSqlDatabase101_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('MySql1_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('MySql1_properties_typeProperties_database')]",
					"username": "[parameters('MySql1_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "SecureString",
						"value": "[parameters('MySql1_password')]"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "Ram-SelfHosted-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Ram-SelfHosted-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ram-SelfHosted-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		}
	]
}